---
/**
 * * These are small cards with icons, titles, and text
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  title: string;
  text: string;
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { icon, title, text, ...rest } = Astro.props as Props;
---

<div {...rest}>
  <div
    class="bg-card hover:border-primary-accent flex h-full flex-col rounded-lg border p-4 shadow-sm transition-colors md:rounded-xl md:p-6"
  >
    <div class="flex items-start">
      <Icon name={icon} class="text-primary-accent size-8" aria-hidden="true" />
    </div>

    <h3 class="mt-4 text-lg font-medium tracking-tight">
      {title}
    </h3>

    <p class="text-muted-foreground mt-2">{text}</p>
  </div>
</div>
