---
/**
 * * These are medium cards with an icon, large colored text (title), and smaller description (text)
 * This has no border or background color
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons and name it however and use similar to below
 */

import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  title: string;
  text: string;
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { icon, title, text, ...rest } = Astro.props as Props;
---

<div {...rest}>
  <div class="flex flex-col gap-3">
    <!-- <Icon name={icon} class="mt-1 h-5 w-5" aria-hidden="true" /> -->
    <h3 class="text-primary-accent text-5xl font-medium tracking-tight">
      {title}
    </h3>

    <p class="text-muted-foreground pr-2">{text}</p>
  </div>
</div>
