---
/**
 * * Hero with image one the side
 */

import heroImage from "@images/hero/storm-2.webp";
import { Image } from "astro:assets";

import Button from "@/components/button/Button.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { useTranslations } from "@/js/translationUtils";
import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<!-- "dark" class forces dark mode for this section -->
<section id="hero-side" class="mt-14 overflow-x-clip">
  <div class="site-container py-16 md:py-20">
    <div
      class="mx-auto grid max-w-md gap-10 text-center md:max-w-none md:grid-cols-2 md:text-left xl:items-center"
    >
      <div class="mx-auto my-auto w-full pt-4 md:ml-0 md:max-w-[560px] md:py-10 lg:pr-10">
        <div class="" data-mos="fade-up" data-mos-anchor="#hero-side">
          <h1
            class="mb-6 text-5xl leading-tight font-medium tracking-tight text-pretty md:text-6xl md:leading-tight"
          >
            {t("hero_text")}
          </h1>
        </div>
        <p
          class="description mb-8 text-pretty lg:text-lg"
          data-mos="fade-up"
          data-mos-delay=".1"
          data-mos-anchor="#hero-side"
        >
          {t("hero_description")}
        </p>
        <div
          class="mt-6 flex flex-wrap justify-center gap-4 md:justify-start"
          data-mos="fade-up"
          data-mos-delay=".2"
          data-mos-anchor="#hero-side"
        >
          <Button variant="primary" href={getLocalizedRoute(currLocale, "/sign-up")}>
            Create Your Account
          </Button>
          <Button
            variant="ghost"
            arrow="right"
            href="https://cosmicthemes.com/themes/starter/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Unlock Starter
          </Button>
        </div>
      </div>

      <div
        class="flex h-full w-full flex-grow items-center"
        data-mos="fade-in"
        data-mos-anchor="#hero-side"
        data-mos-delay=".5"
      >
        <div class="relative h-full overflow-hidden rounded-xl border">
          <Image
            src={heroImage}
            class="min-h-full w-auto object-cover"
            alt="hero"
            loading="eager"
            width={500}
            densities={[1.5, 2]}
          />
        </div>
      </div>
    </div>
  </div>
</section>
