---
/**
 * * Language select dropdown component
 * Uses info and utilities from src/js/i18nUtils.ts. Make sure this is updated with the languages you are using (to match the Astro config file)
 * Multiple dropdowns can be used on the same page
 */
import { Icon } from "astro-icon/components";

import { Dropdown, DropdownContent, DropdownTrigger } from "@/components/starwind/dropdown";
import { languageSwitcherMap, locales } from "@/config/siteSettings.json";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedPathname } from "@/js/translationUtils";

interface Props {
  class?: string; // any additional classes
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { class: className, ...rest } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);

// Precompute the localized paths for each locale (since getLocalizedPathname is async)
const localizedPaths = Object.fromEntries(
  await Promise.all(
    locales.map(async (lang) => [lang, await getLocalizedPathname(lang, Astro.url)]),
  ),
);
---

<Dropdown class:list={["my-auto", className]}>
  <DropdownTrigger asChild>
    <button
      type="button"
      id="lang-select"
      class:list={[
        "nav__link--base description group my-auto flex h-10 flex-nowrap items-center gap-0.5 text-sm",
      ]}
      aria-label="Change language"
      {...rest}
    >
      <span class="sr-only">Change language</span>
      <Icon
        name="tabler/language"
        aria-hidden="true"
        class="size-3.5 shrink-0 transition-transform"
      />
      {languageSwitcherMap[currLocale]}
      <Icon
        name="tabler/chevron-down"
        aria-hidden="true"
        class="size-4 shrink-0 transition-transform"
      />
    </button>
  </DropdownTrigger>
  <DropdownContent align="center" sideOffset={12} class="w-auto min-w-fit py-2 text-sm">
    {
      locales.map((lang) => (
        <a
          href={localizedPaths[lang]}
          class="nav__link--base relative block w-full py-1 text-center whitespace-nowrap"
          aria-label={`Change language to ${lang.toUpperCase()}`}
          data-astro-reload
        >
          {languageSwitcherMap[lang]}
        </a>
      ))
    }
  </DropdownContent>
</Dropdown>
