---
import { getLocaleFromUrl } from "@/js/localeUtils";
import { humanize, slugify } from "@/js/textUtils";
import { getLocalizedRoute } from "@/js/translationUtils";

interface Props {
  category: string | undefined;
  count?: number;
  class?: string;
}

const { category, count, class: className } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

{
  category && (
    <a
      href={getLocalizedRoute(currLocale, `/categories/${slugify(category)}/`)}
      class:list={["w-auto", className]}
    >
      <div class="bg-muted hover:bg-primary hover:text-primary-foreground rounded-md px-4 py-2 text-sm transition-colors duration-200 md:px-6 md:py-2.5">
        {humanize(category)}
        {count !== undefined && <span class="mt-0.5 ml-1 text-xs opacity-70">({count})</span>}
      </div>
    </a>
  )
}
