---
import building from "@images/building-2-min.png";
import { Image } from "astro:assets";

import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";
const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);

interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
---

<section class:list={["py-16 md:py-24", className]}>
  <div class="site-container grid gap-8 md:grid-cols-2 md:gap-16">
    <div class="" id="about-side-image-trigger">
      <h2 data-mos="fade-up" class="h1">Space Coast Medicine</h2>

      <div class="text-muted-foreground mt-6">
        <p
          class="md:text-lg"
          data-mos="fade-up"
          data-mos-anchor="#about-side-image-trigger"
          data-mos-delay=".2"
        >
          At Space Coast Medicine, our doctors believe in treating the whole person, not just the
          symptoms. We prioritize holistic primary care and work with our patients to create
          personalized care plans. We empower our patients to take an active role in their health
          journey.
        </p>

        <p
          class="mt-6 md:text-lg"
          data-mos="fade-up"
          data-mos-anchor="#about-side-image-trigger"
          data-mos-delay=".4"
        >
          At Space Coast Medicine, our doctors believe in treating the whole person, not just the
          symptoms. We prioritize holistic primary care and work with our patients to create
          personalized care plans. We empower our patients to take an active role in their health
          journey.
        </p>

        <p
          class="mt-6 md:text-lg"
          data-mos="fade-up"
          data-mos-anchor="#about-side-image-trigger"
          data-mos-delay=".6"
        >
          At Space Coast Medicine, our doctors believe in treating the whole person, not just the
          symptoms. We prioritize holistic primary care and work with our patients to create
          personalized care plans.
        </p>
      </div>
    </div>

    <div class="aspect-square overflow-clip rounded-2xl">
      <Image
        src={building}
        alt="Space Coast Medicine Building"
        width={1001}
        densities={[1.5, 2]}
        class="h-full w-full object-cover"
      />
    </div>
  </div>
</section>
