---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute } from "@/js/translationUtils";
import { getTranslatedData } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<a
  class="primary-focus text-foreground flex items-center"
  href={getLocalizedRoute(currLocale, "/")}
>
  <Icon name="starter/lighthouse" class="text-primary-accent size-10 p-1" aria-hidden="true" />
  <div class="flex flex-col leading-tight">
    <span class="text-xl font-semibold">{siteData.name}</span>
    <span class="catchphrase text-[10px] font-medium tracking-wide self-start" style="color: #38bdf8;">Data Analytics Engineer</span>
  </div>
</a>
