---
import { Icon } from "astro-icon/components";
---

<div class="bg-muted mr-auto flex items-center rounded-md border align-middle">
  <Icon name="tabler/north-star" class="text-primary-accent size-10 p-2" aria-hidden="true" />
</div>
