---
/**
 * * pricing section for one price only
 * For those who like to keep it simple
 */

import { Icon } from "astro-icon/components";

import Badge from "@/components/badge/Badge.astro";
import Button from "@/components/button/Button.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { useTranslations } from "@/js/translationUtils";
import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);

interface pricingItem {
  name: string; // plan name
  description: string; // plan description
  price: {
    monthly: number; // monthly price
  };
  cardBullets: string[]; // list of card bullets
}

const pricingData: pricingItem = {
  name: "Solo",
  description: "All features for one low monthly price.",
  price: {
    monthly: 19,
  },
  cardBullets: [
    "Price Per User",
    "Unlimited Projects",
    "No Attribution Required",
    "150+ Integrations",
    "Email Support",
  ],
};
---

<section id="pricing" class="overflow-clip py-16 lg:py-20">
  <div class="site-container">
    <div class="grid gap-10 md:grid-cols-2 lg:gap-20">
      <div class="mx-auto flex h-full max-w-lg flex-col md:mr-auto">
        <Badge>Pricing</Badge>
        <h2 class="h2 mt-4">Elevate your brand with a beautiful website.</h2>
        <p class="description mt-4 text-lg">
          Simple one plan pricing that fits for everyone. No hidden fees, no extra charges.
        </p>
      </div>
      <div
        class="border-primary-accent bg-muted relative mx-auto w-full max-w-lg rounded-2xl border p-8 shadow-md md:ml-auto md:max-w-md lg:p-12"
      >
        <h3 class="text-primary-accent mb-6 text-lg font-medium">
          {pricingData.name}
        </h3>
        <p class="mt-6 text-4xl font-medium">
          From ${pricingData.price.monthly} / mo
        </p>
        <p class="description mx-auto mt-2">
          {pricingData.description}
        </p>
        <div class="relative z-10">
          <Button
            variant="primary"
            class="mt-8 w-full"
            href={getLocalizedRoute(currLocale, "/sign-up")}
          >
            Get Started
          </Button>
        </div>
        <p class="mt-8">What you'll get</p>
        <ul class="mt-2">
          {
            pricingData.cardBullets.map((bullet) => (
              <li class="flex items-center py-1.5">
                <div class="mr-2 inline-block">
                  <Icon name="tabler/point" class="size-4" aria-hidden="true" />
                </div>
                <span class="text-muted-foreground font-medium">{bullet}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
