---
import PasswordResetForm from "@/components/forms/PasswordResetForm.astro";
import SiteLogoSquare from "@/components/site-logo/SiteLogoSquare.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Password reset" description="Forgot your password? Reset it here">
  <div class="pt-24 md:pt-36">
    <div class="mx-auto flex w-full max-w-md flex-col justify-center gap-6 px-4">
      <SiteLogoSquare />
      <PasswordResetForm />
    </div>
  </div>
</BaseLayout>
