---
import SignUpForm from "@/components/forms/SignUpForm.astro";
import SiteLogoSquare from "@/components/site-logo/SiteLogoSquare.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Sign Up" description="Sign up to this awesome software">
  <div class="pt-24 md:pt-36">
    <div class="mx-auto flex w-full max-w-md flex-col justify-center gap-6 px-4">
      <SiteLogoSquare />
      <SignUpForm />
    </div>
  </div>
</BaseLayout>
