---
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";
const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
type Props = {
  label: string;
  href: string;
  pink?: boolean;
};
const { label, href, pink = false } = Astro.props;
---

<li>
  <a
    href={getLocalizedRoute(currLocale, href)}
    class:list={[
      "transition-colors hover:underline",
      pink ? "text-primary-accent font-medium" : "text-muted-foreground hover:text-foreground",
    ]}
  >
    {label}
  </a>
</li>
