---
/**
 * * Logo cloud section marquee
 *
 * These are taken from the src/icons folder. You may desire to modify any SVGs you use to have the fill set to "currentColor"
 * to use the current text color. That is how I have set up these icons for demo purposes
 *
 * There is a commented out script at the bottom. If you would like the marquee to pause on mouseover, uncomment it.
 */

import { Icon } from "astro-icon/components";
---

<section id="logo-cloud-marquee" class="py-16">
  <div class="relative mx-auto max-w-[1400px] overflow-hidden px-4">
    <!-- left fade-out -->
    <div
      class="from-background absolute top-0 -left-px z-10 h-full w-[10%] bg-gradient-to-r from-20% to-transparent"
    >
    </div>
    <!-- right fade-out -->
    <div
      class="to-background absolute top-0 -right-px z-10 h-full w-[10%] bg-gradient-to-r from-transparent to-80%"
    >
    </div>

    <div class="logo-marquee relative flex gap-32 overflow-hidden">
      <!-- Each animate-marquee section needs to have the exact same icons. Just do one then copy / paste -->
      <div class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-32">
        <Icon name="logos/astro" class="logo py-2" aria-label="logo" />

        <Icon name="logos/spotify" class="logo" aria-label="logo" />

        <Icon name="logos/framer" class="logo" aria-label="logo" />

        <Icon name="logos/dribbble" class="logo" aria-label="logo" />

        <Icon name="logos/sanity" class="logo py-2" aria-label="logo" />

        <Icon name="logos/contentfull" class="logo" aria-label="logo" />

        <Icon name="logos/github" class="logo" aria-label="logo" />

        <Icon name="logos/notion" class="logo" aria-label="logo" />

        <Icon name="logos/adobe" class="logo" aria-label="logo" />

        <Icon name="logos/zoom" class="logo" aria-label="logo" />
      </div>

      <!-- Each animate-marquee section needs to have the exact same icons. Just do one then copy / paste -->
      <div
        aria-hidden="true"
        class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-32"
      >
        <Icon name="logos/astro" class="logo py-2" aria-label="logo" />

        <Icon name="logos/spotify" class="logo" aria-label="logo" />

        <Icon name="logos/framer" class="logo" aria-label="logo" />

        <Icon name="logos/dribbble" class="logo" aria-label="logo" />

        <Icon name="logos/sanity" class="logo py-2" aria-label="logo" />

        <Icon name="logos/contentfull" class="logo" aria-label="logo" />

        <Icon name="logos/github" class="logo" aria-label="logo" />

        <Icon name="logos/notion" class="logo" aria-label="logo" />

        <Icon name="logos/adobe" class="logo" aria-label="logo" />

        <Icon name="logos/zoom" class="logo" aria-label="logo" />
      </div>
    </div>
  </div>
</section>

<style>
  .logo {
    margin-inline: auto;
    height: calc(var(--spacing) * 10) /* 2.5rem = 40px */;
    width: auto;
    opacity: 60%;
    transition-property: opacity;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
    );
    transition-duration: var(--tw-duration, var(--default-transition-duration) /* 150ms */);

    &:hover {
      opacity: 100%;
    }
  }
</style>
