---
import TagCloud from "@/components/tag-cloud/TagCloud.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Recent Blog Posts" description="Recent Blog Posts Description">
  <div class="site-container py-24 md:pt-40">
    <h1 class="h1">Tags</h1>
    <div class="mt-10">
      <TagCloud showCount={true} />
    </div>
  </div>
</BaseLayout>
