---
import { Icon } from "astro-icon/components";

import Button from "@/components/button/Button.astro";
import { Input } from "@/components/starwind/input";
import { Label } from "@/components/starwind/label";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<div class="w-full">
  <div class="mb-12">
    <h1 class="h3 mb-2 text-xl">Reset password</h1>
    <p class="text-muted-foreground">
      Already know your password?
      <a
        class="text-primary-accent whitespace-nowrap hover:underline"
        href={getLocalizedRoute(currLocale, "/sign-in")}>Sign in</a
      >
    </p>
  </div>
  <div class="mb-6">
    <form class="-m-2 flex flex-wrap" id="resetpass__form" name="resetpass__form">
      <div class="w-full p-2">
        <Label for="resetpass__email" class="sr-only">Email Address</Label>
        <Input
          class="bg-muted w-full"
          id="resetpass__email"
          type="email"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="w-full p-2">
        <Button variant="primary" type="submit" class="w-full rounded-md before:rounded-md"
          >Submit</Button
        >
      </div>
    </form>
  </div>
</div>
